{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{%
  set value = attributes.offsetGet('value').value
%}

{% if attributes.offsetGet('type').value not in ['button', 'submit', 'reset'] %}
  <input{{ attributes.addClass('form-control') }} />
{% else %}
  <button{{ attributes.addClass('btn') }}>
    {{- value -}}
  </button>
{% endif %}
{{- children -}}